{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <script type="text/javascript">
            DJANGO_STATIC_URL = '{{ STATIC_URL }}';
        </script>
        <script src="{% static 'js/index.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
        <title>Title </title>
    </head>
    <body onload="getUser({{ user.id }})">
        {% csrf_token %}
        <main>
            <div align="center">
                <h1> Welcome, <span id="user">{{user.username}}</span>!</h1>
                <div class="logout"><a href="/logout">LOGOUT</a></div>
                <h2>Coins: <span id="data">%coins%</span></h2>
                <h3>Click power: <span id="clickPower">{{mainCycle.clickPower}}</span> coins</h3>
                <h3>Auto-Click power: <span id="autoClickPower">{{ mainCycle.autoClickPower }}</span> coins/second</h3>
                <input type="image" class="dog" src="{% static 'images/dog.png' %}" onclick="callClick()">
                <div class="boost-wrapper" id="boost-wrapper">
                </div>
            </div>
        </main>
    </body>
</html>